.locationgrid {
    display: grid
    grid-gap: 7px;
    grid-template-columns: repeat (2,1fr);
    grid-template-areas:
    "column"
    "img3"
    "img6"
    ;

#column{
    grid-area: column;
    background: tan;
}


