.sectionpreview { 
    @include md {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10,auto);
        grid-template-areas: 
        "hist"
        "hist"
        "culture"
        "culture"
        "Food"
        "Food"
        "Visit"
        "Visit";
    }
    background: #F5D2B5;
    #hist{
        grid-area: hist;
    }
    #about{
        grid-area: about;
    }

    #CultureWords{
        grid-area: cult;
    }
    #Culture{
        grid-area: culture;

    }
    #About2{
        grid-area: about2;
    }

    #Food{
        grid-area: Food;
    }
    #About3{
        grid-area: about3;
    }
    #Visit{
        grid-area: visit;
    }
    #about4{
        grid-area: about4;
    }

    h2{
        text-align: center;
        background-color:#B5E1F5;
        margin-top: 50px;
    }
    p {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        line-height: 2;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #spacer {
        margin-top: 50px;
    }

    @media only screen and (min-width: 768px) {
        div img {
            float: left;
            z-index: 5;
            
        }
        div p {
            height: 100%;
            display: flex;
            align-items:center;
            text-align: left;
            width: 40%;
            
        }
        


        h2 {
            position: absolute;
            width: 100%;
            margin-top: 50px;
            text-align: right;
            direction: rtl;
            text-indent: 10%;
        }
    }
} 

h2{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Lusitana', serif;
}