.sectionpreview {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8,auto);
    grid-template-areas: 
    "hist about"
    "hist about"
    "culture about2"
    "culture about2"
    "Food about3"
    "Food about3"
    "Visit about4"
    "Visit about4"
    ;
    #hist{
        grid-area: hist;
        background: blue;
    }
    #about{
        grid-area: about;
        background: green;
    }
    #Culture{
        grid-area: culture;
        background: pink;

    }
    #About2{
        grid-area: about2;
        background: purple;
    }

    #Food{
        grid-area: Food;
        background: orange;
    }
    #About3{
        grid-area: about3;
        background: pink;
    }
    #Visit{
        grid-area: visit;
        background: red;
    }
    #about4{
        grid-area: about4;
        background: green;
    }


} 